h1 {
    color: sienna;
    font-family: 'Amatic SC', cursive;
}

body {
    background-image: url("../images/brick_wall.jpeg");
}

.trainForm {
    opacity: 1;
}

.displayForm {
    opacity: inherit;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 { 
        font-size: 4rem;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 7rem;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 8rem;
    }
}